<!-- El message viene desde el middleware de errores de app.js-->


<!-- El mensaje del error -->
<h1><%= message %></h1>

<!-- El código de status que queremos devolver -->
<h2><%= error.status %></h2>

<!-- Pila de ejecucion para el modo desarrollo -->
<pre><%= error.stack %></pre>
